<div class="hero-body">
  <div class="container has-text-centered">
    <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="box">
      <form>
        <div class="field">
          <p class="control has-icons-left has-icons-left">
            <input class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <a class="button is-link">Forgot password?</a>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success">Login</button>
            <button class="button">Register</button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
