<div class="has-text-centered">
  <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
</div>
<div class="hero-footer">
  <div class="section">
    <div class="container">
      <div class="box">
        <form>
          <div class="field">
            <p class="control has-icons-left has-icons-left">
              <input class="input" type="text" placeholder="+91xxxxxxxxxx">
              <span class="icon is-small is-left">
                <i class="fa fa-mobile"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-left">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Confirm Password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success">Register</button>
              <a class="button" routerLink="/auth/login" routerLinkActive="is-active">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
