<section class="hero is-primary">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <h1 class="title">Angular Firebase</h1>
          </a>
        </div>
      </div>
    </header>
  </div>
</section>
<div class="tabs is-right">
  <ul>
    <li class="is-active"><a>Home</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</div>
<section class="section" style="padding: 10px;">
  <router-outlet></router-outlet>
</section>
